name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd currency-bot
            git reset --hard HEAD
            git pull origin main
            docker compose down
            docker compose build --no-cache
            docker compose up -d

            docker container prune -f
            docker image prune -af
            docker volume prune -f
